.App {
  text-align: center;
  background-color: rgb(15, 223, 109);
  min-height: 100vh;
  justify-content: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List-Content {
  position: relative;
  z-index: 2;
}

.content {
  max-width: 550px;
  text-align: center;
  background: rgba(189, 222, 135, 0.973);
  margin: 0 auto;
}

.footer {
  color: white;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}



