.Input-field {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 300px;
}

.Button-style {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

