.list {
    text-align: center;
    
}
.btn {
    display: inline-block;
    margin-right: 6px;
}

.body{
    padding: 5px;
    display: block;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid black;
}

.item{
    display: inline;
    float: initial;
}
